<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="adobereader" />
    <package id="chocolatey" />
    <package id="dropbox" />
    <package id="fsviewer" />
    <package id="googlechrome" />
    <package id="image-composite-editor" />
    <package id="kav" />
    <package id="libreoffice-fresh" />
    <package id="shutup10" />
    <package id="svg-explorer-extension" />
    <package id="teamviewer" />
    <package id="telegram" />
</packages>