<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="autohotkey" />
    <package id="bulkrenameutility" />
    <package id="exiftool" />
    <package id="freefilesync" />
    <package id="keepass" />
    <package id="linkshellextension" />
    <package id="procexp" />
    <package id="treesizefree" />
</packages>