<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="awk" />
    <package id="awscli" />
    <package id="docker-desktop" />
    <package id="grep" />
    <package id="jq" />
    <package id="kubernetes" />
    <package id="microsoft-visual-cpp-build-tools" />
    <package id="nvm" />
    <package id="openvpn" />
    <package id="postgresql10" />
    <package id="python2" />
    <package id="slack" />
</packages>